{
  "parser": "@babel/eslint-parser",
  "extends": [
    "standard",
    "standard-react",
    "prettier",
    "prettier/react",
    "plugin:jest/recommended"
  ],
  "env": {
    "es6": true,
    "browser": true
  },
  "plugins": [
    "react",
    "jest"
  ],
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    // don't force es6 functions to include space before paren
    "space-before-function-paren": 0,
    // allow specifying true explicitly for boolean props
    "react/jsx-boolean-value": 0,
    "no-var": "error",
    "prefer-const": "error"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}