.tririgaUXNextApp {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  background-color: $ui-background;

  & > div {
    flex: 1 1 auto;
    min-height: 0;
  }
}

.showAppMessages {
  &__toast {
    position: fixed;
    top: $layout-05;
    z-index: z("overlay");
    width: auto;
    left: $layout-01;
    right: $layout-01;
    margin: 0;
  }

  &__modal .#{$prefix}--modal-close,
  &__modal .#{$prefix}--btn--secondary {
    display: none;
  }
}
