.tririgaUXWebApp {
  -webkit-text-size-adjust: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  background-color: $ui-background;

  & > div {
    flex: 1 1 auto;
    min-height: 0;
  }

  & :not(.#{$prefix}--side-nav--expanded).#{$prefix}--side-nav:hover {
    width: 0;
  }

  & :not(.#{$prefix}--side-nav--expanded).#{$prefix}--side-nav--hidden {
    width: 0;
  }

  & > .#{$prefix}--header {
    position: relative;
    flex-shrink: 0;
  }

  & > .#{$prefix}--header > .#{$prefix}--header__name {
    font-size: 16px;
  }
}

.showAppMessages {
  &__toast {
    position: fixed;
    top: $layout-05;
    z-index: z("overlay");
    width: auto;
    left: $layout-01;
    right: $layout-01;
    margin: 0;
  }

  &__modal .#{$prefix}--modal-close,
  &__modal .#{$prefix}--btn--secondary {
    display: none;
  }
}
