@mixin page {
  display: flex;
  flex-direction: column;
  padding: $layout-01;

  &__header {
    @include carbon--type-style("productive-heading-03");
    margin-bottom: $spacing-04;
  }

  &__content {
    flex: 1 1 auto;
    min-height: 0;
  }
}
