@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/type" as *;

.unauthorizedPage {
  padding-left: 10%;
  padding-top: 10%;
  width: 80%;

  &__header {
    width: 50%;
    padding-top: $spacing-07;
    @include type-style("heading-05");
  }

  &__description {
    width: 50%;
    padding-top: $spacing-06;
    @include type-style("body-compact-01");
  }

  &__login {
    margin-top: $spacing-06;
  }
}